<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{template :: html_head}"/>

<body>
<div th:replace="~{template :: html_nav}"></div>
<section>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-8 offset-md-2">
                <div class="card">
                    <div class="card-header text-center">Cadastro Cliente</div>
                    <div class="card-body">
                        <form th:action="@{/cliente}" method="post"
                              id="formCliente" name="formCliente">
                            <div class="form-group">
                                <label for="nome">Nome:</label>
                                <input class="form-control form-control-sm"
                                       type="text" id="nome" name="nome"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="celular">Celular:</label>
                                <input class="form-control form-control-sm"
                                       type="tel" id="celular" name="celular"
                                       required>
                            </div>
                            <div class="form-group">
                                <label>Tipo Logradouro:</label>
                                <input class="form-control form-control-sm"
                                       type="text" id="tipoLogradouro"
                                       name="tipoLogradouro" required>
                            </div>
                            <div class="form-group">
                                <label>Logradouro:</label>
                                <input class="form-control form-control-sm"
                                       type="text" id="logradouro"
                                       name="logradouro" required>
                            </div>
                            <div class="form-group">
                                <label>Numero:</label>
                                <input class="form-control form-control-sm"
                                       type="text" id="numero" name="numero"
                                       required>
                            </div>
                            <div class="form-group">
                                <label>Bairro:</label>
                                <input class="form-control form-control-sm"
                                       type="text" id="bairro" name="bairro"
                                       required>
                            </div>
                            <div class="form-group">
                                <label>Cidade:</label>
                                <input class="form-control form-control-sm"
                                       type="text" id="cidade" name="cidade"
                                       required>
                            </div>
                            <div class="form-group">
                                <label>Estado:</label>
                                <input class="form-control form-control-sm"
                                       type="text" id="estado" name="estado"
                                       required>
                            </div>
                            <div class="">
                                <button class="btn btn-primary" type="submit">
                                    Cadastrar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<br>
<div class="container">
    <div th:replace="~{template :: html_footer}"></div>
</div>
</body>

</html>