<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{template :: html_head}"/>

<body>
<div th:replace="~{template :: html_nav}"></div>
<section>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-md-3">
                <form action="#" method="post" th:action="@{/projeto/cadCategoria}"
                      id="formEntrada" name="formEntrada">
                    <div class="form-group">
                        <label for="nome">Nome Categoria</label>
                        <input class="form-control" type="text"
                               placeholder="" id="nome" name="nome"
                               required>
                    </div>
                    <div class="">
                        <input class="btn btn-primary" type="submit"
                               value="Cadastra">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<br>
<div class="container">
    <div th:replace="~{template :: html_footer}"></div>
</div>

</body>

</html>